$def with ()

$var title: New word

<div id="content">
	<h1>Add word</h1>
	
	<form action="#" method="post">
		<label for="ipalabro">Palabro</label><br />
		<input type="text" id="ipalabro" name="palabro" /><br >
		
		<label for="ihint">Hint</label><br />
		<textarea id="ihint" name="hint"></textarea><br />
		
		<label for id="idescription">Description</label><br />
		<textarea id="idescription" name="description"></textarea><br />
		
		<input type="submit" name="addWordSubmit" value="Add word" />
	</form>
</div>
