$def with ()

$var title: New word

<div id="content">
	<h1>Add word</h1>
	
	<form action="#" method="post">
		<label for="palabro">Palabro</label><br />
		<input type="text" id="palabro" name="palabro" /><br >
		
		<label for="hint">Hint</label><br />
		<textarea id="hint" name="hint"></textarea><br />
		
		<label for id="description">Description</label><br />
		<textarea id="description" name="description"></textarea><br />
		
		<input type="submit" name="addWordSubmit" value="Add word" />
	</form>
</div>
