$def with (content)
<html>
    <head>
		<title>Palabra del día: $content.title</title>
		
		<link href="/static/css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
		
		<script src="http://www.google.com/jsapi" language="javascript"></script> 
		<script language="javascript"> 
			google.load("jquery","1.4.2");
		</script>
		
		<link rel="alternate" type="application/rss+xml" title="Feed RSS de palabro.es" href="/rss" /> 
    </head>
    <body>
        $:content
        
        <div id="footer">
        	<p>
        		<a href="/">incio</a> |
        		<a href="/acerca-de">acerca de</a> |
        		<a href="/archivo">archivo</a> |
        		<a href="/aleatorio">aleatorio</a> |
        		<a href="/rss">rss</a> |
        		<a href="http://volt.io">creador</a>
        	</p>
        </div>
    </body>
    
    <script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
	<script type="text/javascript">
		try {
			reinvigorate.track("$config['reinvigorate']");
		} catch(err) {}
	</script>
	
</html>
