$def with ()

$var title: Sobre palabro.es

<div id="content">
    <h1>Sobre palabro.es</h1>
    
    <p>
    	Varios amigos estadounidenses me han pedido que les recomiende un buen servicio de <em>palabra del día</em>
    	en español parecido a los famosos Word of the Day de <a href="http://www.merriam-webster.com/word-of-the-day/">
    	Merriam Webster</a> o <a href="http://dictionary.reference.com/wordoftheday">Dictionary.com</a>
    	pero buscando equivalentes no pude encontrar ninguno que ofreciese palabras interesantes. Da la impresión
    	de que están más enfocadas hacia estudiantes principiantes de español que al público hispano en general.
    </p>
    
    <p>
    	Debido a los varios comentarios en tono jocoso que he recibido por mi tendencia a hablar usando palabras
    	poco comunes me propuse subsanar la falta &mdash; grave a mi parecer &mdash; de un servicio de estas 
    	caracteristicas creando <em>palabro.es</em>.
    </p>
    
    <p>
    	No soy filólogo ni muy dado a escribir bien, lo cual significa que sin duda cometeré errores y faltas
    	de ortografía. En caso de encontrar una, no dudéis en avisarme. También estoy abierto a sugerencias 
    	de palabras para incluir en este proyecto. Si no se ha mencionado con anterioridad, podéis enviármela por correo 
    	y si la	decido publicar os llevaréis una pequeña mención. Podéis contactar conmigo por correo electrónico en 
    	la siguiente dirección: <a href="mailto:hermann.kaser@gmail.com">hermann.kaser@gmail.com</a>. Para aseguraros 
    	de que lea vuestro correo, incluid el texto "[palabro.es]" en el asunto.
    </p>
    
    <h2>Detalles técnicos</h2>
    
    <p>
    	Esta página está escrita en <a href="http://www.python.org/">python</a> usando <a href="http://webpy.org/">
    	web.py</a> como framework, <a href="http://dev.mysql.com/?bydis_dis_index=1">MySQL</a> como base de datos y 
    	<a href="http://httpd.apache.org/">Apache</a> como servidor web. El código está liberado bajo ninguna 
    	licencia y puede encontrarse en <a href="http://github.com/hermzz/palabro">mi cuenta de github</a>.
    </p>
    
    <p>
    	El maquetado de este sitio ha sido comprobado en Chromium y Firefox; no lo he probado en Opera porque no tengo
    	ganas de instalarlo pero estoy seguro de que se ve igual de bien. Si tenéis alguna queja sobre como se ve el sitio
    	bajo Internet Explorer os la podéis guardar porque me da igual, ojalá os parta un rayo panda de retrógrados.
    </p>
</div>
