$def with (vars)

$ word = vars['word']
$var title: Palabra del día: $vars['word'].palabro

<script type="text/javascript">
    $$(document).ready(function() {
        $$('#hint_link').click(function() {
            $$('#hint').toggle();
        });
        
        $$('#desc_link').click(function() {
            $$('#description').toggle();
        });
    });
</script>

<div id="content">
    <h1>Palabra del día</h1>
    <p id="meta">para $:word.date.strftime("%A %d de %B, %Y")</p>
    <p id="word">$word.palabro</p>
    <p><a id="hint_link" href="#">Ver ayuda</a></p>
    <p id="hint">$:word.hint</p>
    <p><a id="desc_link" href="#">Ver definición</a></p>
    <p id="description">$word.description</p>
</div>
