$def with (vars)

$ word = vars['word']
$var title: Palabra del día: $vars['word'].palabro

<script type="text/javascript">
    $$(document).ready(function() {
        $$('#hint_link').click(function() {
            $$('#hint').toggle();
        });
        
        $$('#desc_link').click(function() {
            $$('#description').toggle();
        });
    });
</script>

<div id="content">
    <h1>Palabra del día</h1>
    <p id="meta">para $:word.date.strftime("%A %d de %B, %Y")</p>
    <p id="word">$word.palabro <span><a href="/$word.palabro" title="Enlace permanente">#</span></p>
    <p><a id="hint_link" href="#">Ver ayuda</a></p>
    <div id="hint">$:markdown(word.hint)</div>
    <p><a id="desc_link" href="#">Ver definición</a></p>
    <div id="description">
        $:markdown(word.description)
        
        <p>
            ver definición en: 
            <a href="http://buscon.rae.es/draeI/SrvltGUIBusUsual?LEMA=$word.palabro">RAE</a>, 
            <a href="http://www.wordreference.com/definicion/$word.palabro">wordreference</a>, 
        </p>
    </div>

   <div id="fb_like">
       <iframe src="http://www.facebook.com/plugins/like.php?$urlencode({'href': 'http://palabro.es/'+word.palabro})&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
   </div>
</div>
